In [11]:
# this is a comment
""" multi-line comments can be done like this """

' multi-line comments can be done like this '

In [12]:
# Numbers
print(2 + 2) # addition
print(2 - 2) # subtraction
print(2 * 2 )# multiplication
print(2 / 2) # division
print(2 // 2) # integer division
print(2**3) # exponentiation
print(2 % 2) # modulus
print(type(45))

4
0
4
1.0
1
8
0
<class 'int'>

In [13]:
# mathematics module
import math
math.lcm(3,5,7)
print(dir(math))# list all the functions in the math module
print("""multi line string""")

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
multi line string

In [14]:
print('a' + 'string') # concatenate strings
print('a' * 2) # repeat strings
print('a string'[0]) # first character of a string
print('a string'[-1]) # last character of a string
print('a string'[0:4]) # index a string to get first 4 characters
print('a string'[:4]) # index a string to get first 4 characters
print('a string'[::2]) # get every other letter
print('a string'[::-1]) # reverse the string
print('a string'[:5:2]) # every other letter in the first 5 characters

astring
aa
a
g
a st
a st
asrn
gnirts a
asr

In [15]:
# Python has many built-in functions for strings
""".join() , .split() , .lstrip() / .rstrip() , and .removeprefix() / .removesuffix() """

print('-'.join(['this', 'is', 'a', 'test'])) # join a list of strings with a hyphen
print('this is a test'.split()) # split a string into a list of strings
print('testtest - remove left'.lstrip('tes')) # remove the left side of a string
print('testtest - remove right'.rstrip('ght')) # remove the right side of a string
print('testtest - remove left'.removeprefix('testte')) # remove the left side of a string
print('testtest - remove right'.removesuffix('ght')) # remove the right side of a string
print(f'The answer is  {2 + 2}') # string formatting
print('The answer is {}'.format(2 + 2)) # string formatting

this-is-a-test
['this', 'is', 'a', 'test']
 - remove left
testtest - remove ri
st - remove left
testtest - remove ri
The answer is  4
The answer is 4

In [16]:
#Variables
books = 5
print(books)# print the value of books
books +=2
print(books)# add 2 to the value of books   
books *=3
print(books)# multiply the value of books by 3
books /=2
print(books)# divide the value of books by 2
books -=1
print(books)# subtract 1 from the value of books
books **=2
print(books)# raise the value of books to the power of 2
books %=2
print(books)# get the modulus of the value of books
books //=2
print(books)# get the integer division of the value of books#Variables

5
7
21
10.5
9.5
90.25
0.25
0.0

In [17]:
a = 'string 1'
b = 'another string'
print(a + b)# concatenate strings

string 1another string

In [18]:
a = 'string 1'
print(type(a))

<class 'str'>

In [19]:
# using multiple variable
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [20]:
#import python library called pandas and abbreviate as pd
import pandas as pd
#import data using pd.read_csv in bracket use r to read the file and inside the "" write the location of the data
titanics_data = pd.read_csv(r"C:\Users\David gathara marigi\Downloads\train.csv")
#data.head print the first five output of the data
titanics_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
#this print total number of the passengers
total = len(titanics_data)
print(total)
#that means there are 891 passengers in the data

891

In [22]:
#this print passengers who survived
total_survived = (titanics_data.Survived == 1).sum()
print(total_survived)

342

In [23]:
#numbers of passengers under 18
minors = (titanics_data.Age<18).sum()
print(minors)

113

In [24]:
survived_fraction = total_survived/total
print(survived_fraction)

0.3838383838383838

In [25]:
minors_fraction = minors/total
print(minors_fraction)

0.12682379349046016