                                                LISTS
One of the core data structures in Python is a list. Lists are contained in square brackets and can contain several values of differing data types. Lists can even contain lists themselves.

In [16]:

rand_numb = [23,54,79,13] #list of random numbers
print(type(rand_numb))
print(rand_numb)
concat = rand_numb + [100,254,27,89]#concatenating the list with another list
print(concat)
# i can also repeat the numbers in the list by multiplying the list by a number
repeat = rand_numb * 2
print(repeat)
len(rand_numb)#this will give the length of the list
print(len(rand_numb))

<class 'list'>
[23, 54, 79, 13]
[23, 54, 79, 13, 100, 254, 27, 89]
[23, 54, 79, 13, 23, 54, 79, 13]
4

In [17]:
a_list = []
a_list.append(23)#this will add 23 to the list
print(a_list)

[23]

In [18]:
b_list = [54,54,232,13]
print(b_list.sort())#this will sort the list in ascending order
print(sorted(b_list))

None
[13, 54, 54, 232]

In [19]:
b_list.sort(reverse=True)#this will sort the list in descending order
print(b_list)

[232, 54, 54, 13]

Lastly, let's revisit indexing. As described in the preceding string section,
Python indexing works as follows: we use square brackets to index, with
the pattern [start:stop:step] . The default values are [0:None:1] ,
meaning we get the entire list (start to finish) and go one element at a time.
The values for start , stop , and step must be integers or None . Our first
element of a list is indexed at 0, so to get the first element of a list, we do
the following:

In [20]:
b_list[0]
print(b_list[0])#this will print the first element in the list

232

In [21]:
print(b_list[len(a_list) - 1])#this will print the last element in the list
print(b_list[-1])#this will print the last element in the list

232
13

In [22]:
(b_list[0:3])#this will print the first three elements in the list
(b_list[:3])#this will print the first three elements in the list

[232, 54, 54]

In [23]:
print(b_list[::2])#this will print every second element in the list

[232, 54]

In [24]:
print(b_list[::-1])#this will print the list in reverse order

[13, 54, 54, 232]

In [25]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]
print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [26]:
print(len(flowers_list))

10

In [27]:
print(", ".join(flowers_list))

pink primrose, hard-leaved pocket orchid, canterbury bells, sweet pea, english marigold, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle

In [28]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

In [29]:
#slicing
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

In [30]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [31]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [32]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))
print("Total books sold in one week:", sum(hardcover_sales))
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Length of the list: 7
Entry at index 2: 172
Minimum: 128
Maximum: 191
Total books sold in one week: 1107
Average books sold in first five days: 153.8

In [33]:
def percentage_liked(ratings):
    list_liked = [i>=4 for i in ratings]
    # TODO: Complete the function
    percentage_liked = sum(list_liked)/len(list_liked)
    return percentage_liked

# Do not change: should return 0.5
percentage_liked([1, 2, 3, 4, 5, 4, 5, 1])

0.5

In [34]:
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"

# TODO: Convert strings into Python lists
letters = alphabet.split(".")
formatted_address = address.split(",")
print(letters)
print(address)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey

In [35]:
test_ratings = [1, 2, 3, 4, 5]
test_liked = [i>=4 for i in test_ratings]
print(test_liked)

[False, False, False, True, True]

In [36]:
def percentage_growth(num_users, yrs_ago):
    growth = (num_users[len(num_users)-1] - num_users[len(num_users)-yrs_ago-1])/num_users[len(num_users)-2]
    return growth

# Do not change: Variable for calculating some test examples
num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]

# Do not change: Should return .036
print(percentage_growth(num_users_test, 1))

0.03629533421163837

                                              Tuple
A tuple is similar to a list, but it cannot be changed once it is created – this
is also called immutability. Tuples have parentheses instead of square brackets, like this:

In [37]:
a_tuple = (23,54,79,13)#this is a tuple
print(type(a_tuple))

<class 'tuple'>

In [38]:
tuple(b_list)#this will convert the list to a tuple
print(tuple(b_list))

(232, 54, 54, 13)

In [39]:
list(a_tuple)#this will convert the tuple to a list
print(list(a_tuple))

[23, 54, 79, 13]

                                                  Sets
Sets follow the mathematical definition, which is a group of unique values. Sets can be created with curly brackets or the set() function. For example, if we want to get the unique numbers from a list, we can convert it to a set:

In [40]:
set(b_list)#this will convert the list to a set
print(set(b_list))

{232, 13, 54}

In [41]:
# Create a set
my_set = {12, 34, 54, 65}
print(type(my_set))
print(my_set)

# 1. Add an element to the set
my_set.add(100)
print("After adding 100:", my_set)

# 2. Clear the set
my_set.clear()
print("After clearing:", my_set)

# Recreate the set for further examples
my_set = {12, 34, 54, 65}

# 3. Create a copy of the set
set_copy = my_set.copy()
print("Copy of the set:", set_copy)

# 4. Difference between sets
other_set = {34, 54, 100}
difference_set = my_set.difference(other_set)
print("Difference between my_set and other_set:", difference_set)

# 5. Difference update (modify my_set to remove elements in other_set)
my_set.difference_update(other_set)
print("After difference_update:", my_set)

# Recreate the set for further examples
my_set = {12, 34, 54, 65}

# 6. Discard an element
my_set.discard(34)
print("After discarding 34:", my_set)

# 7. Intersection of sets
intersection_set = my_set.intersection(other_set)
print("Intersection of my_set and other_set:", intersection_set)

# 8. Intersection update (modify my_set to keep only common elements)
my_set.intersection_update(other_set)
print("After intersection_update:", my_set)

# Recreate the set for further examples
my_set = {12, 34, 54, 65}

# 9. Check if sets are disjoint
print("Are my_set and other_set disjoint?", my_set.isdisjoint(other_set))

# 10. Check if my_set is a subset of another set
another_set = {12, 34, 54, 65, 100}
print("Is my_set a subset of another_set?", my_set.issubset(another_set))

# 11. Check if my_set is a superset of another set
small_set = {12, 34}
print("Is my_set a superset of small_set?", my_set.issuperset(small_set))

# 12. Pop an arbitrary element
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

# 13. Remove an element
my_set.remove(54)
print("After removing 54:", my_set)

# 14. Symmetric difference between sets
symmetric_diff_set = my_set.symmetric_difference(other_set)
print("Symmetric difference between my_set and other_set:", symmetric_diff_set)

# 15. Symmetric difference update (modify my_set)
my_set.symmetric_difference_update(other_set)
print("After symmetric_difference_update:", my_set)

# Recreate the set for further examples
my_set = {12, 34, 54, 65}

# 16. Union of sets
union_set = my_set.union(other_set)
print("Union of my_set and other_set:", union_set)

# 17. Update my_set with elements from another set
my_set.update(other_set)
print("After updating with other_set:", my_set)

<class 'set'>
{65, 34, 12, 54}
After adding 100: {65, 34, 100, 12, 54}
After clearing: set()
Copy of the set: {65, 34, 12, 54}
Difference between my_set and other_set: {65, 12}
After difference_update: {65, 12}
After discarding 34: {65, 12, 54}
Intersection of my_set and other_set: {54}
After intersection_update: {54}
Are my_set and other_set disjoint? False
Is my_set a subset of another_set? True
Is my_set a superset of small_set? True
Popped element: 65
Set after popping: {34, 12, 54}
After removing 54: {34, 12}
Symmetric difference between my_set and other_set: {100, 12, 54}
After symmetric_difference_update: {100, 54, 12}
Union of my_set and other_set: {65, 34, 100, 54, 12}
After updating with other_set: {65, 34, 100, 54, 12}

                              Dictionaries
Dictionaries are similar to sets because they have a unique set of keys, but they also contain elements with key-value pairs. Here is an example of a dictionaries

In [42]:
a_dict = {'books': 1, 'magazines': 2, 'articles': 7}

In [43]:
print(a_dict['books'])

1

In [44]:
a_dict['shows'] = 12
print(a_dict)

{'books': 1, 'magazines': 2, 'articles': 7, 'shows': 12}

In [45]:
a_dict.update({'gazzete': 12})
print(a_dict)

{'books': 1, 'magazines': 2, 'articles': 7, 'shows': 12, 'gazzete': 12}

In [46]:
another_dict = {'movies': 4}
joined_dict = a_dict | another_dict
print(joined_dict)#this will join the two dictionaries

{'books': 1, 'magazines': 2, 'articles': 7, 'shows': 12, 'gazzete': 12, 'movies': 4}